
body {
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
  letter-spacing: 0.02em;
}

.app-container {
  height: 800px;
  width: 400px;
  display: block;
  margin: auto;
  background-color: white;
}
